extends layout

block content
    .page-header
        h1 База знаний
    .panel.panel-default
        .panel-heading Добавление диагноза
        .panel-body
            form(role='form')
                .form-group
                    label(for='exampleInputEmail1') Диагноз
                    input#diagnosis.form-control(type='text', placeholder='Название диагноза')
                .form-group
                    label(for='exampleInputPassword1') Симптомы
                    select#simptoms.form-control(multiple=true)
                        option Общее недомагание
                        option Сухость, першение
                button.btn.btn-default(type='submit') Добавить
    table.table
        thead
            tr
                th Симптом/Диагноз
                th Ларингит острый
        tbody
            tr
                td Общее недомагание
                td
            tr
                td Сухость, першение
                td